<aside id="menu">
    <div id="navigation">
        <ul class="nav" id="side-menu">
            <li>
                <a routerLink="/payments" routerLinkActive="active"> <span class="nav-label">Payments</span></a>
            </li>
            <li>
                <a routerLink="/subscriptionplan" routerLinkActive="active"> <span class="nav-label">Subscription Plans</span></a>
            </li>
            <li>
                <a routerLink="/payments" routerLinkActive="active"> <span class="nav-label">In channels</span></a>
            </li>
            <li>
                <a routerLink="/payments" routerLinkActive="active"> <span class="nav-label">Out channels</span></a>
            </li>
            <li>
                <a routerLink="/payments" routerLinkActive="active"> <span class="nav-label">Mappings</span></a>
            </li>
            <li>
                <a routerLink="/businessuser" routerLinkActive="active"> <span class="nav-label">Accounts</span></a>
            </li>
            <li>
                <a routerLink="/business" routerLinkActive="active"> <span class="nav-label">Business</span></a>
            </li>
        </ul>
    </div>
</aside>