<a [routerLink]="['/businessuser']" class="btn btn-primary m">Back to User overview</a>
<div class="login-container">
    <div class="hpanel">
        <div class="panel-body">
            <h3>User:</h3>
            <p class="m-b-md m-t-md">Change User Password of {{id}}: {{businessUser?.email}}</p>
            <form [formGroup]="formG" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'error':  f.password.errors }" />
                    <div *ngIf="(f.password.dirty || f.password.touched) && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        <div *ngIf="f.password.errors.strong">Must contain at least one lower, upper, special and number char</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="currentPassword">Your (current) Password</label>
                    <input type="password" formControlName="currentPassword" class="form-control" [ngClass]="{ 'error':  f.currentPassword.errors }" />
                    <div *ngIf="(f.currentPassword.dirty || f.currentPassword.touched) && f.currentPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.currentPassword.errors.required">Your (current) Password is required</div>
                    </div>
                </div>
                <div class="form-group">

                    <button [disabled]="formG.invalid && !submitted" class="btn btn-primary">
                      <div>Change</div>
                    </button>
                    <a [routerLink]="['/businessuser']" class="btn btn-link">Cancel</a>
                </div>

            </form>
        </div>
    </div>
</div>